# No whitespace after the comma or in your part name!
config SHIELD_SOFLE_PRO_LEFT
    def_bool $(shields_list_contains,sofle_pro_left)

config SHIELD_SOFLE_PRO_DONGLE
    def_bool $(shields_list_contains,sofle_pro_dongle)

# No whitespace after the comma or in your part name!
config SHIELD_SOFLE_PRO_RIGHT
    def_bool $(shields_list_contains,sofle_pro_right)
